/*==========  Desktop First Method  ==========*/



/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {

	.nav_container.mobil_hidden nav{max-width: 800px;}

}



/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

	.nav_container.mobil_hidden nav{max-width: none;}

	.btn_mnu{

		display: block;

		margin-bottom: 10px;

	}

	.footer_row .footer .socials {

		float: none;

		display: block;

		margin-top: 0;

		margin-bottom: 10px;

	}

	.footer_row .footer .footer_holder .socials {

		float: none;

		margin-top: 0;

	}

	.footer_row .footer span{

		display: block;

		position: static;

		margin-top: 0;

	}

}



/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {

	.nav_container.mobil_hidden{

		display: none;

	}

	.logo{

		bottom: 11px;

		left: 80px;

	}

	.main{

		padding-top: 50px;

	}

	.nav_container.mobil_visible .sandwich-wrapper {

		display: block;

	}

	.header_link{

		display: none;

	}

	.content img{display: none;}

	.top{height: 50px;

		top: 0;

	}

	.catalog .section{width: 100%;}

	.footer_row .footer .btn_mnu li {

		display: block;

		margin-bottom: 10px;

	}

	.footer_row .footer .btn_mnu li::before {display: none;}

}



/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {

	

	

}



/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {



}





/*==========  Mobile First Method  ==========*/



/* Custom, iPhone Retina */

@media only screen and (min-width : 320px) {



}



/* Extra Small Devices, Phones */

@media only screen and (min-width : 480px) {



}



/* Small Devices, Tablets */

@media only screen and (min-width : 768px) {

	.nav_container.mobil_visible .nav {display: none !important;}



}



/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {



}



 /* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {



}