body {
  background-color: #191919; }

.main {
  width: 1200px;
  background-repeat: no-repeat;
  background-image: url("../img/bg.png");
  background-size: cover;
  margin: 0 auto; }

#header {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 120px; }
  #header .logo_text {
    float: left;
    margin-left: 40px; }
  #header .forma {
    float: right;
    margin-right: 40px; }
  #header h2 {
    font: 36px Verdana, serif;
    color: #fff;
    margin-bottom: 0;
    margin-top: 50px;
    letter-spacing: -4px;
    text-align: right;
    text-shadow: -1px -1px 2px black; }
    #header h2 span {
      font-weight: bold;
      text-shadow: -1px -1px 2px black; }
  #header p {
    font: 12px Verdana, serif;
    color: #acacac;
    text-align: right;
    line-height: 0; }
  #header form {
    margin-top: 58px; }
    #header form .form_wrap {
      padding: 5px;
      background-color: #000;
      border-radius: 7px;
      box-shadow: 2px 1px 1px -2px #fff; }
    #header form input {
      color: #5b5b5b;
      font: Italic 11px Verdana, serif; }
  #header .form-search .input-append .search-query {
    border-radius: 7px 0 0 7px;
    width: 215px;
    height: auto; }
  #header .form-search .input-append .btn {
    border-radius: 0 7px 7px 0;
    font-weight: bold;
    color: #000; }

#content {
  max-width: 940px;
  margin: 0 auto 10px;
  background-image: url("../img/content_bg.png");
  background-repeat: no-repeat;
  border-bottom: 1px solid #000; }
  #content .item_box {
    padding: 0 50px;
    position: relative;
    top: -43px;
    margin-bottom: 50px; }
    #content .item_box .item {
      text-align: center;
      display: inline-block;
      width: 100px;
      height: 100px;
      margin: 0 8px; }
      #content .item_box .item a {
        text-decoration: none; }
      #content .item_box .item:hover {
        box-shadow: 0 0 19px 11px #fff;
        background-color: rgba(255, 255, 255, 0.86);
        border-radius: 10px;
        position: relative;
        top: -3px; }
  #content .add_bg {
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#fefefe');
    background: -ms-linear-gradient(top, #cecece, #fefefe);
    background: -o-linear-gradient(top, #cecece, #fefefe);
    background: -moz-linear-gradient(top, #cecece, #fefefe);
    background: -webkit-linear-gradient(top, #cecece, #fefefe); }
  #content .main_text {
    padding: 0 15px;
    font-size: 18px;
    line-height: 18px; }
    #content .main_text h2 {
      border-bottom: 1px solid #b9b9b9;
      color: #747474;
      text-shadow: 1px 2px 1px #fff;
      margin: 0;
      line-height: 22px;
      padding-bottom: 10px;
      font-size: 18px; }
    #content .main_text p {
      color: #5a5a5a;
      font-size: 12px;
      line-height: 24px;
      border-top: 1px solid #dcdcdc;
      padding-top: 20px;
      text-align: justify; }
  #content .main_ref_block {
    margin-bottom: 55px; }
    #content .main_ref_block .ref_block_column {
      text-align: center; }
  #content .ref h2 {
    padding-top: 40px;
    border-bottom: none; }
    #content .ref h2:after {
      content: url(../img/divider.png); }
  #content .ref_item {
    margin: 0 20px 0 0; }
    #content .ref_item p {
      display: inline-block;
      color: #323232;
      font-size: 12px;
      margin-left: 7px;
      border-top: none; }
  #content .big_ref {
    text-align: center; }
  #content .big_refs_block {
    margin-bottom: 20px; }

#footer {
  max-width: 940px;
  margin: 0 auto;
  background-color: #191919;
  min-height: 50px;
  border-top: 1px solid #323232; }
  #footer .left_text {
    float: left;
    font-size: 12px;
    line-height: 53px;
    color: #b4b4b4; }
    #footer .left_text span {
      color: #0295da; }
  #footer .right_text {
    float: right;
    font-size: 12px;
    line-height: 53px;
    color: #b4b4b4; }
    #footer .right_text span {
      color: #0295da; }

/*# sourceMappingURL=style.css.map */
