@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/MyriadProRegular/MyriadProRegular.eot');
	src: url('../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'),
		 url('../fonts/MyriadProRegular/MyriadProRegular.ttf') format('truetype'),
		 url('../fonts/MyriadProRegular/MyriadProRegular.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/RobotoRegular/RobotoRegular.eot');
	src: url('../fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
		 url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'),
		 url('../fonts/RobotoRegular/RobotoRegular.svg#HelveticaNeue-Bold') format('svg');
	font-style: normal;
	font-weight: normal;
}

